.footer {
    display: flex;
    justify-content: flex-start; /* Horizontally align to the left */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Set the container height to full viewport height */
    width: 100%;
    margin: 0 0 20vh 10vh;
  }

.logo {
  height: 3em;
  margin: 5px;
}
